.about-section{
  padding-top: 1px;
  padding-bottom: 1px;
}

.about-section__contain-wrapper{
  @include container();
    background:
    url('../img/pets.png')
    no-repeat
    left center;
    background-size: contain;
}

.about-section__title{
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: 50%;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  color: $color4;
 }

.about-section_paragraph{
  width: 585px;
	max-width: 35.47008547008547%;
	margin-left: 50%;
  font-family: Arial, serif;
  font-size: 15px;
  line-height: 24px;
  color: $color5;
  &:last-child{
    margin-bottom: 135px;
  }
}