.company-info{
	float: left;
}

.company-info__name{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 32px;
	font-weight: normal;
	line-height: 48px;
	color: $color1;
}

.company-info__activity{
	display: block;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-style: normal;
	word-spacing: 1px;
	color: #ffffff;
}

@media #{$medium-media-query}{
   .company-info{
   	float: none;
   	text-align: center;
   }

   .company-info__name{
    font-size: 41px;
   }

   .company-info__activity{
    font-size:  14px;
   }
}