.contacts{
	@include clearfix();
	margin-top: 80px;
}

.contacts__telephone-and-email{
	float: left;
  max-width: 300px;
	margin-right: 200px;
}

.contacts__addresses{
	float: left;
	max-width: 300px;
}

.contacts__clarification{
	margin-bottom: 50px;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  color: $color7;

}

.contacts__item{
	display: block;
  margin-bottom: 25px;
  padding: 15px;
  padding-left: 55px;
  padding-right: 0;
  font-size: 20px;
  line-height: 25px;
  color:$color1;

  background-image: url('../img/icons/icons_sprite.png');
  background-repeat: no-repeat;

  
  &--email{
    background-position: 0 -1405px;
  }

  &--phone{
    background-position: 0 -1673px;
  }

  &--map-point{
    background-position: 0 -1535px;
  }
}

@media #{$large-media-query}{
  
  .contacts__telephone-and-email{
    margin-right: 50px;
  }

  .contacts__clarification{
    font-size: 30px;
    margin-bottom: 30px;
  }
}

@media #{$medium-media-query}{
  .contacts__telephone-and-email,
  .contacts__addresses{
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  .contacts__telephone-and-email{
    margin-bottom: 100px;
  }
}