.donation-section{
	padding-top: 1px;
	padding-bottom: 80px;
	background: $color6;
}


.donation-section__contain-wrapper{
	@include container();
	background:
		url('../img/dog_2.png')
		no-repeat
		left center;
}



.donation-section__title{
	margin-top: 75px;
	margin-left: 50%;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: 35px;
	line-height: 45px;
	color: $color4;
}

.donation-section__bank-info{
	margin-left: 50%;
	
}

.donation-section__name-bank-account{
	display: block;
	margin-bottom: 30px;
	color: $color2;
	font-weight: normal;
	font-size: 15px;
}

.donation-section__count-number{
	display: inline-block;
	margin-bottom: 30px;
	padding: 10px;
	padding-left: 55px;
	background:
		$color1
		url('../img/icons/icons_sprite.png')
		no-repeat
		10px -1807px;
	border-radius: 10px;
	font-weight: normal;
	font-size: 19px;

}

.donation-section__legal-information{
	max-width: 355px;
	width: 30.34188034188034%;
	margin-top: 0;
	margin-left: 50%;
	margin-bottom: 0;
	font-style: italic;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: $color3;
}