.donation-section{
	padding-top: 1px;
	padding-bottom: 80px;
}

.donation-section__title{
	margin-top: 75px;
	margin-left: 585px;
	margin-bottom: 35px;
}

.donation-section__bank-info{
	margin-left: 585px;
	
}

.donation-section__name-bank-account{
	display: block;
	margin-bottom: 10px;
}

.donation-section__count-number{
	display: block;
	margin-bottom: 25px;
}

.donation-section__legal-information{
	width: 355px;
	margin-top: 0;
	margin-left: 585px;
	margin-bottom: 0;
}