.help-section{
	padding-top: 1px;
	background: $color7;
}

.help-section__title{
	margin-top: 75px;
	margin-bottom: 80px;
	font-weight: normal;
	font-size: 35px;
	line-height: 45px;
	text-align: center;
	color: $color4; 
}

