.help-section{
	padding-top: 1px;
	background: $color7;
}

.help-section__title{
  width: 320px;
  margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 80px;
	font-weight: normal;
	font-size: 35px;
	line-height: 45px;
	text-align: center;
	color: $color4; 
}

@media #{$medium-media-query}{
  width: 100%;
}