.page-footer{
	padding-top: 1px;
  padding-bottom: 80px;
  background:
    
    url('../img/dog_3.png')
    no-repeat
    85% bottom,
    #000000
    url('../img/promo-bg.jpg')
    no-repeat
    left top;

    background-size: auto, cover;
}

.page-footer__contain-wrapper{
  @include container();
}