.page-header{
  z-index: 2;
  margin-top: 30px;
  &--big-offset-top{
    width: 100%;
    margin-top: 57px;
    position: absolute;
  }
}

.page-header__contain-wrapper{
	@include container();
  @include clearfix();
}