.pets-carousel{
  position: relative;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.pets-carousel__animal-cards-wrapper{
  overflow-x: scroll;
}

.pets-carousel__animal-cards{
  @include clearfix();
  margin: 0 auto;
  width: 2545px;
}

.pets-carousel .arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  

  background-image: url('../img/icons/icons_sprite.png');

  &-left{
    left: -110px;
    background-position: 15px -1918px;
  }

  &-right{
    right: -110px;
    background-position: 15px -2025px;
  }
  
}




