.pets-section{
  padding-top: 1px;
  padding-bottom: 60px;
  background: $color6;
}

.pets-section__contain-wrapper{
  @include container();
  position: relative;
}

.pets-section__title{
  margin-top: 85px;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  color: $color4;
  text-align: center;
}