.pets-carousel{
  width: 920px;
  margin: 0 auto;
  overflow-x: scroll;
  outline: 1px solid gold;
}

.pets-carousel__carousel-wrapper{
  @include clearfix();
  margin: 0 auto;
  width: 2545px;
}




