.promo-section{
  padding-top: 1px;
  padding-bottom: 250px;

  background:
  	url('../img/dog-bg.png')
  	no-repeat
  	right bottom,
  	#000000
  	url('../img/promo-bg.jpg')
    no-repeat;

  background-size: 750px, cover;
}


.promo-section__contain-wrapper{
  @include container();
  margin-top: 400px;
}

.promo-section__slogan{
  width: 345px;
  font-weight: normal;
  font-size: 44px;
  line-height: 57px;
  color: $color1;
}

.promo-section__description{
	display: block;
	width: 38.46153846153846%;
  max-width: 450px;
  font-style: normal;
  font-family: Arial, serif;
  font-size: 15px;
  line-height: 24px;
  color: $color3;
}

.promo-section .button{
	margin-top: 40px;
  
}

@media #{$large-media-query}{
  .promo-section{
    padding-bottom: 100px;
    background-position: /*calc(100% + 250px)*/ right bottom, left top;
    background-size: 40%, 100% 100%;
  }

  .promo-section__contain-wrapper{
    margin-top: 330px;
  }

  .promo-section__slogan{
    font-size: 40px;
    text-align: center;
  }
  
  .promo-section__description{
    width: 60%;
  }
}

@media #{$large-media-query}{
  .promo-section__slogan{
    width: auto;
  }

  .promo-section__description{
    width: 100%;
  }

}


