@mixin clearfix(){
  &::after{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container(){
	max-width: 1130px;
	margin: 0 auto;

  @media #{$large-media-query}{
    max-width: $large-container-width;
    padding: 0 $large-padding;
  }

  @media #{$medium-media-query}{
    max-width: $medium-container-width;
    padding: 0 $medium-padding;
  }
}
